body, html {
  margin: 0;
  background-color: #f0f0f0;
}



header {
  color:#d884b7;
  background-color: black;
  padding: 10px 10px 10px 10px;
  font-weight: bold;
  position: sticky;
  top: 0;
}



.mainImg {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  background: url("https://www.cleveland.com/resizer/iX-17fSQ-aO7KH-dVjT9n64ixIo=/1280x0/smart/advancelocal-adapter-image-uploads.s3.amazonaws.com/expo.advance.net/img/960b45d730/width2048/57e_collage1.jpeg")
}

#logo {
margin-top: 4px;
}

li {
  display: inline;
  padding: 10px;
}

a {
  color: #d884b7;
  text-decoration: none;
}

ul {
  text-align: right;
  list-style: none;
  font-family: helvetica;
  margin-top: -30px;
margin-bottom: 5px;
}

#homeTitle {
  text-align: left;
 
  padding: 20px 20px 0px 20px;


}

.searchBar {
  text-align: center;
}



footer {
  font-family: helvetica;
  color: #d884b7;
  text-align: center;
  font-size: 10px;
 margin-top: 200px;
 font-weight: bold;
 background-color: #000000;
 padding: 5px;
}

#artist-data {
  display: flex;
  flex-flow: column;
align-content: space-between;
justify-content: center; 
  
}


@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 2) {
  body {
    background-color: rgb(215, 214, 214);
  }

  header {
    background-color: white;
  }

  footer {
    background-color: white;
  }
}