body {
	margin: 0;
	background-image: url('https://mocah.org/thumbs/5372614-microphone-wallpaper-music-wallpapers-music-background-black-background-stage-spotlight-light-smoke-concert-foggy-haze-black-and-white-monochrome-music-shadow-show-dark-creative-commons-images.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.fav-container {
	display: flex;
	color: white;
	justify-content: center;
}

.fixed-header {
	background-color: black;
	padding: 10px 0px 10px 10px;
	font-weight: bold;
	position: sticky;
	top: 0;
}

.mainTitle {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}

#title {
	color: white;
}
#homeTitle {
	font-family: helvetica;
	font-size: 18px;
	padding-left: 30px;
	margin-bottom: 40px;
}
#logo {
	margin-top: 4px;
}

ul {
	text-align: right;
	list-style: none;
	font-family: helvetica;
	margin-top: -60px;
	margin-bottom: 5px;
}

li {
	display: inline;
	padding: 10px;
}

a {
	color: white;
	text-decoration: none;
}

.searchBar {
	text-align: center;
}

#artist-data {
	display: grid;
	grid-template-columns: 200px 400px 200px;
	justify-content: center;
}

#addFav {
	margin-top: 10px;
}

.FavArtists {
	text-align: center;
}

#titleEffect {
	text-decoration: none;
	color: inherit;
	font-size: 24px;
}

p {
	font-weight: 700;
	text-align: center;
	font-size: 40px;
	font-family: Hack, sans-serif;
	text-transform: uppercase;
	background: linear-gradient(90deg, #000, #fff, #000);
	letter-spacing: 5px;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-repeat: no-repeat;
	background-size: 80%;
	animation: shine 5s linear infinite;
	position: relative;
}

@keyframes shine {
	0% {
		background-position-x: -500%;
	}
	100% {
		background-position-x: 500%;
	}
}

/*  Checkout my other pens on  https://codepen.io/grohit/  */

@media (max-width: 800px) {
	.mainImg {
		display: flex;
		justify-content: center;
	}
	#artist-data {
		display: flex;
		flex-direction: column;
		align-content: space-between;
		justify-content: center;
		color: white;
	}

	#artist-search,
	#searchArt {
		height: 50px;
	}
	#searchArt {
		width: 100px;
	}
	::-webkit-input-placeholder {
		font-size: 20px;
	}
	input[type=submit] {
		font-size: 20px;
	}
}
